@font-face {
  font-family: 'DNFForgedBlade';
  font-style: normal;
  font-weight: 500;
  src: url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DNFForgedBlade';
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #242424;
  overflow: hidden;
}
header {
  position: absolute;
  top: 0;
  margin: 30px;
  cursor: pointer;
}
h1 {
  color: #ffffff;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card {
  position: absolute;
  /* width: 240px; 
	height: 320px; */
  width: 200px;
  height: 300px;
  border-radius: 20px;
  /* background: #5e5cfc; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  font-size: 8em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: 50% 100%;
  /* filter: hue-rotate(calc(var(--i) * 50deg)); */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
.container.hovered .card {
  transform: rotate(calc(var(--i) * 4deg)) translate(calc(var(--i) * 120px), -50px);
  /* color: rgba(0, 0, 0, 0.25); */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
}
/* .container.active .card {
	background: #333;
} */
.container .card.active {
  translate: calc(var(--i) * 20px) -50px;
  z-index: 100;
}

.container .logo {
  width: 200px;
  height: 300px;
}

/* input */
.search-form {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 20px 0; */
  /* margin-bottom: 30px; */
  top: 10%;
}
.search-form .icon {
  position: absolute;
  margin-left: -253px;
  margin-top: 15px;
  color: #000000;
  cursor: pointer;
}
input {
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  box-shadow: 1px 1px 1px 1px;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input:focus,
input:active {
  outline: none;
}

/* select */
select {
  position: absolute;
  top: 20%;
}
