/*댓글 layout Start*/
.comment-container {
  max-width: 768px;
  border-top: 1px solid rgba(55, 53, 47, 0.09);
  margin-bottom: 8px;
  overflow: hidden;
}

.comment-view {
  width: 100%;
  margin: 0 auto;
}

.comment-view > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  margin: 14px -14px;
}

/*댓글 layout End*/

/*댓글기능 정보 Start*/
.comment-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 16px 0px 18px;
  position: relative;
}

.comment-info_firstName {
  margin-right: 10px;
  margin-top: 2px;
  background: white;
  border-radius: 100%;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
  outline: rgba(227, 226, 224, 0.5) solid 1px;
  outline-offset: -1px;
  box-sizing: content-box;
  border-radius: 100%;
  line-height: 20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  background: white;
  user-select: none;
  color: rgb(145, 145, 142);
  opacity: 1;
}

.comment-date {
  font-size: 12px;
  line-height: 16px;
  color: rgba(55, 53, 47, 0.5);
  margin: 0px 6px;
  flex-basis: 140px;
  white-space: normal;
  flex-grow: 1;
  display: inline;
}

.comment-func_container {
  display: flex;
  padding: 8px 10px;
  gap: 8px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 99;
  opacity: 0.5;
  border-radius: 20px;
}

.comment-func_container:hover {
  transition: all 0.3s;
  background-color: bisque;
  opacity: 1;
}

.comment-func_container span {
  padding: 2px 4px;
}

.comment-func_container span:hover {
  transition: all 0.3s;
  color: rgb(86, 86, 202);
  cursor: pointer;
}

/*댓글기능 정보 End*/

/*댓글 수정,삭제 css Start*/
.comment-view {
  position: relative;
}

/*댓글 text Start*/
.comment-text_container {
  padding: 0px 16px 3px;
  color: rgb(55, 53, 47);
  overflow: hidden;
  padding-left: 0;
  margin-left: 16px;
  width: 100%;
}

.comment-text {
  max-width: 768px;
  width: 100%;
  padding-top: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  cursor: text;
  padding-left: 32px;
}

/*댓글 수정 css*/
.comment-text_container.update-text {
  /* max-width: calc(720px * (2 / 3)); */
  width: 340px;
  position: relative;
}

.comment-text.update-text {
  border: none;
  line-height: 1.4;
  /* width: calc(646px * (2 / 3)); */
  width: 340px;
  margin-top: 8px;
  padding-top: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  cursor: text;
  padding-left: 0;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
  resize: none;
  font-size: 14px;
}

.comment-text.update-text:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(55, 53, 47, 0.09);
}

.comment-text.update-text::-webkit-scrollbar {
  width: 3px;
}

/*댓글 수정 등록 아이콘*/
.update-btn {
  position: absolute;
  bottom: 6px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 20px;
  height: 20px;
  vertical-align: top;
  text-align: center;
  color: #929bab;
  z-index: 11;
  border: 1px solid rgb(86, 86, 202);
  border-radius: 100%;
}

.update-btn .fa-solid.fa-arrow-up {
  font-size: 18px;
}

.update-btn.active {
  color: rgb(30, 48, 80);
  cursor: pointer;
}

/* .fa-solid.fa-arrow-up {

  }

  .fa-solid.fa-arrow-up.add {

  } */

/*댓글 달기 css*/
.input-container {
  position: relative;
  top: 111%;
  margin-top: 12px;
  padding: 14px 0;
}

.input-container input {
  border: none;
  padding-bottom: 5px;
  width: 120px;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

.input-container input:focus {
  outline: none;
  border-bottom: 1px solid rgb(145, 145, 142);
}

.user-info-container {
  display: flex;
  gap: 10px;
}

.comment-text.add-comment {
  border: none;
  line-height: 1.4;
  /* width: calc(768px * (2 / 3)); */
  width: 340px;
  margin-top: 8px;
  padding-top: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  cursor: text;
  padding-left: 0;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
  resize: none;
  font-size: 14px;
}

.comment-text.add-comment:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(55, 53, 47, 0.09);
}

.comment-text.add-comment::-webkit-scrollbar {
  width: 3px;
}

/*댓글 달기 CSS End*/

/*댓글 달기 btn*/

.form-btn {
  opacity: 0.4;
  margin-left: 10px;
}

.form-btn.submit {
  opacity: 1;
  cursor: pointer;
  color: rgb(86, 86, 202);
}

/*paging button들 CSS*/

.buttons {
  position: relative;
  padding: 1rem 0;
  display: inline-flex;
  justify-content: center;
}

.button {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  color: #333;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button.active,
.button:hover {
  color: #1f975d;
  font-weight: 600;
  text-decoration: underline;
}

.prev {
  position: absolute;
  left: -2.5rem;
}

.next {
  position: absolute;
  right: -2.5rem;
}

.comment-box {
  position: inherit;
  margin-top: 40px;
  top: 87%;
  height: 150px;
}
